*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  background: #000000;
  color: #FFFFFF;
}
.App--isLucky {
  background: #E4007F;
  color: #FFFFFF;
}

.wrapper {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.clickableArea {
  z-index: 1;
  cursor: pointer;
  width: 100%;
  flex: 1 1 100%;
  -webkit-tap-highlight-color: transparent;
}

.displayCount {
  font-family: 'din alternate', 'din', 'Roboto';
  z-index: 1;
  width: 80vw;
  font-size: 40vw;
  display: block;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
}